<!doctype html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>微信文件上传</title>
    <link rel="stylesheet" th:href="@{/admin/layui/css/layui.css}">
    <style>
        .container{
            margin: 10px 20px;
        }
    </style>
</head>
<body>
<blockquote class="layui-elem-quote">注意：可以上传任意文件类型不限制，单个文件大小限制100MB,多个文件限制500MB。</blockquote>
<div class="container">
    <div class="layui-upload">
        <button type="button" class="layui-btn layui-btn-normal" id="testList">选择多文件</button>
        <div class="layui-upload-list" style="max-width: 100%;">
            <table class="layui-table">
                <colgroup>
                    <col width="25%">
                    <col width="35%">
                    <col width="10%">
                    <col width="15%">
                    <col width="15%">
                </colgroup>
                <thead>
                    <tr>
                        <th>文件名</th>
                        <th>签名</th>
                        <th>大小</th>
                        <th>上传进度</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody id="demoList"></tbody>
            </table>
        </div>
        <button type="button" class="layui-btn" id="testListAction">开始上传</button>
    </div>
</div>

<script th:src="@{/admin/layui/layui.js}"></script>
<script>
    let pathName = window.location.pathname.substring(1);
    let webName = pathName == '' ? '': pathName.substring(0, pathName.indexOf('/'))
    const BASE_URL = window.location.protocol + '//' + window.location.host + '/'+ webName + '/';

    layui.use(['upload', 'element', 'layer'], function () {
        var $ = layui.jquery, upload = layui.upload,element = layui.element,layer = layui.layer;
        var uploadListIns = upload.render({
            elem: '#testList'
            ,elemList: $('#demoList') //列表元素对象
            ,url: BASE_URL.concat('/admin/receive') //此处用的是第三方的 http 请求演示，实际使用时改成您自己的上传接口即可。
            ,accept: 'file'
            ,multiple: true
            ,number: 10
            ,auto: false
            ,drag:true
            ,data:{"fileName":"test.text","sign":function(){
                return $("#sign").val();
            }}
            ,bindAction: '#testListAction'
            ,choose: function(obj){
                var that = this;
                var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
                //读取本地文件
                obj.preview(function(index, file, result){
                    var tr = $(['<tr id="upload-'+ index +'">'
                        ,'<td>'+ file.name +'</td>'
                        ,'<td><input type="text" id="sign" name="sign" placeholder="请输入签名" autocomplete="off" class="layui-input"></td>'
                        ,'<td>'+ (file.size/1014).toFixed(1) +'kb</td>'
                        ,'<td><div class="layui-progress" lay-filter="progress-demo-'+ index +'"><div class="layui-progress-bar" lay-percent=""></div></div></td>'
                        ,'<td>'
                        ,'<button class="layui-btn layui-btn-xs demo-reload layui-hide">重传</button>'
                        ,'<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete">删除</button>'
                        ,'</td>'
                        ,'</tr>'].join(''));

                    var textarea = $(['<tr id="upload-'+ index +'"><td colspan="5"><textarea id="demo-"+index style="display: none;width: 100%;margin: 0;padding: 0"></textarea></td></tr>'].join(''));
                    console.log(textarea);
                    //单个重传
                    tr.find('.demo-reload').on('click', function(){
                        obj.upload(index, file);
                    });
                    //删除
                    tr.find('.demo-delete').on('click', function(){
                        delete files[index]; //删除对应的文件
                        tr.remove();
                        textarea.remove();
                        uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
                    });

                    that.elemList.append(tr);
                    that.elemList.append(textarea);
                    element.render('progress'); //渲染新加的进度条组件
                    layui.use('layedit', function(){
                        var layedit = layui.layedit;
                        layedit.build("upload-"+ index); //建立编辑器
                    });
                });
            }
            ,done: function(res, index, upload){ //成功的回调
                var that = this;
                if(res.code === 100002){ //上传成功
                    var tr = that.elemList.find('tr#upload-'+ index),tds = tr.children();
                    tds.eq(3).html(''); //清空操作
                    delete this.files[index]; //删除文件队列已经上传成功的文件
                    layer.msg(res.message,{icon:6});
                    return;
                }
                this.error(res, index, upload);
            }
            ,allDone: function(obj){ //多文件上传完毕后的状态回调
                console.log(obj)
            }
            ,error: function(res, index, upload){ //错误回调
                var that = this;
                var tr = that.elemList.find('tr#upload-'+ index),tds = tr.children();
                tds.eq(3).find('.demo-reload').removeClass('layui-hide'); //显示重传
                layer.msg(res.message,{icon:6});
            }
            ,progress: function(n, elem, e, index){
                element.progress('progress-demo-'+ index, n + '%'); //执行进度条。n 即为返回的进度百分比
            }
        });
    });
</script>
</body>
</html>