<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>微信文件列表</title>
    <link rel="stylesheet" th:href="@{/admin/layui/css/layui.css}">
</head>
<body>
<div class="container">
    <table class="layui-hide" lay-filter="test" id="wechatList"></table>
</div>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
        <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
    </div>
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script th:src="@{/admin/layui/layui.js}" charset="utf-8"></script>
<script>
    let pathName = window.location.pathname.substring(1);
    let webName = pathName == '' ? '': pathName.substring(0, pathName.indexOf('/'));
    const BASE_URL = window.location.protocol + '//' + window.location.host + '/'+ webName + '/';
    const url  = "http://127.0.0.1:8500/multi-wechat/admin/wechatList";
    layui.use('table', function () {
        var table = layui.table;
        table.render({
            elem: '#wechatList',
            url: url,
            toolbar: '#toolbarDemo',//开启头部工具栏，并为其绑定左侧模板
            page: true, //开启分页
            cols: [[
                {type: 'checkbox', fixed: 'left'},
                {field: 'id', width: 180, title: '文件ID', sort: true, fixed: 'left'},
                {field: 'fileName', width: 250, title: '文件名'},
                {field: 'filePath', width: 500, title: '文件路径', sort: true},
                {field: 'sign', width: 250, title: '签名'},
                {field: 'operator', width: 150, title: '添加人', sort: true}
            ]]
        });
    });
</script>
</body>
</html>