<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UDID</title>
    <style>
        .container{
            width: 750px;
            height: 300px;
            box-shadow: 0 0 10px rgba(0,0,0,.3);
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <p class="udid-title">您的UDID</p>
        <p class="udid-text"></p>
    </div>

<script>
    var params = window.location.search.substr(1, window.location.search.length);
    var args = params.split("&");
    var udid = document.querySelector(".udid-text");
    udid.innerHTML = "欢迎您：" + decodeURI(args[0].substr(args[0].indexOf("=") + 1, args[0].length));
</script>
</body>
</html>