<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" th:href="@{favicon.webp}"/>
    <link rel="stylesheet" th:href="@{/web/css/home.css}">
    <link rel="stylesheet" th:href="@{/web/css/swiper.css}">
</head>
<body>
<div class="container">
    <!--轮播图-->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="/web/images/banner-wechat.jpg" alt=""></div>
            <div class="swiper-slide"><img src="/web/images/banner-tiktok.jpg" alt=""></div>
            <div class="swiper-slide"><img src="/web/images/banner-tiktok.jpg" alt=""></div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-scrollbar"></div>
    </div>
    <!--滚动公告-->
    <div class="note-wrapper">
        <marquee behavior="" direction="">
            <span>欢迎光临，微信，抖音多开应用</span>
        </marquee>
    </div>
    <div class="wechat-wrapper">
        <div class="list-title">
            <p>微信专区</p>
        </div>
        <div class="wechat-items">
            <ul class="wechat-item"></ul>
        </div>
    </div>
    <div class="tiktok-wrapper">
        <div class="list-title">
            <p>抖音专区</p>
        </div>
        <div class="tiktok-items">
            <ul class="tiktok-item"></ul>
        </div>
    </div>
</div>
<script th:src="@{/web/js/swiper.min.js}"></script>
<script th:src="@{/web/js/jquery.min.js}"></script>
<script th:src="@{/web/js/home.js}"></script>
<script type="text/javascript">
    new Swiper('.swiper-container', {
        autoplay: 2000,
        touchRatio: 1,
        scrollbar: '.swiper-scrollbar',
    });
    getFileItem();
</script>
</body>
</html>