html, body {
    width: 100%;
    height: 100%;
}

body {
    background: url("../image/login-background.jpg") no-repeat;
    background-size: 100% 100%;
}

.container {
    width: 500px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .3);
    background: hsla(0, 0%, 100%, .3);
}

.title {
    margin: 35px auto;
    text-align: center;
    font-size: 16px;
    font-weight: 800;
    text-shadow: 0 0 5px rgba(0, 0, 0, .3);
    color: #fff;
}

.login-form {
    width: 500px;
}

.layui-input, .layui-textarea {
    width: 250px;
    padding-left: 20px;
!important
}

.fa-key,.fa-user-alt,.fa-exclamation-circle{
    position: absolute;
    top: 11px;
    left: 2px;
}

.layui-btn {
    width: 250px;
!important;
}

.varcode {
    width: 100px;
}

.footer {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
}